@model List<user>
<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-content-center">
                    <div id="page-contents" class="row merged20">
                        <div>

                            <div class="group-feed">
                                <div class="group-avatar align-content-center">
                                    <img src="~/images/resources/profile-banner.jpg" alt="">
                                    <a href="#" title=""><i class="icofont-check-circled"></i>Follow</a>
                                    <figure class="group-dp"> <img src="@("~/user_image/"+Model[0].user_image)" asp-append-version="true" alt=""></figure>
                                </div>
                                <input type="hidden" value="@Model[0].user_id" />
                                <div class="grp-info about">
                                    <h2>@Model[0].user_username </h2><span>@Model[0].user_name</span>
                                    <ul class="more-grp-info">
                                        <li>
                                            <form class="c-form" method="post">
                                            </form>
                                        </li>
                                        <li>
                                            <div class="more">
                                                <div class="more-post-optns">
                                                    <i class="">
                                                        <svg class="feather feather-more-horizontal" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="../../../www.w3.org/2000/svg.html"><circle r="1" cy="12" cx="12" /><circle r="1" cy="12" cx="19" /><circle r="1" cy="12" cx="5" /></svg>
                                                    </i>
                                                    <ul>
                                                        <li>
                                                            <i class="icofont-pen-alt-1"></i>change profile
                                                            <span>user change profile image</span>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("updateProfile","User",new{id=Model[0].user_id})">
                                                                <i class="icofont-edit"></i>Edit User data
                                                                <span>Edit user persnol data</span>
                                                            </a>
                                                        </li>



                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-wraper">
                                    <div class="grp-about">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-6">
                                                <h4>About Me!</h4>
                                                <p></p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="main-wraper">
                                    <h5 class="main-title">Personal</h5>
                                    <div class="info-block-list">
                                        <ul>
                                            <li>Email:<span>@Model[0].user_email</span></li>
                                            <li>password:<span>@Model[0].user_password</span></li>
                                            <li>phone<span>@Model[0].user_phone</span></li>
                                            <li>gender: <span>@Model[0].user_gender</span></li>
                                            <li>Date of Birth: <span>@Model[0].user_dob</span></li>
                                            <li>country: <span>@Model[0].user_country</span></li>
                                            <li>city: <span>@Model[0].user_city</span></li>
                                            <li>address: <span>@Model[0].user_address</span></li>
                                            <li>marital_status: <span>@Model[0].user_marital_status</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-wraper">
                                    <h5 class="main-title">Profession</h5>
                                    <div class="info-block-list">
                                        <ul>
                                         
                                            <li>qualification: <span>@Model[0].user_qualification</span></li>
                                            <li>school: <span>@Model[0].user_school</span></li>
                                            <li>college: <span>@Model[0].user_college</span></li>
                                            <li>work_status: <span>@Model[0].user_work_status</span></li>
                                            <li>organization: <span>@Model[0].user_organization</span></li>
                                            <li>designation: <span>@Model[0].user_designation</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action("updateProfile","User",new{id=Model[0].user_id})" class="icofont-key">
                                        Update profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>