@model user
<div class="auth-login d-flex align-items-center justify-content-center" style="width:100%"4>
	
	
	<div class="col-md-12 verticle-center">
		
			<h4><i class="icofont-lock"></i> Update/Edit</h4>
			<br /><br /><br /><br /><br /><br /><br /><br /><br />
			<form method="post" class="c-form">
			<input type="hidden" placeholder="User Name" name="user_id" value="@Model.user_id">
			<input type="hidden" placeholder="Image" name="user_image" Value="@Model.user_image">
			<div class="row merged-8">
					@*<div class="col-lg-12"><h4>What type of researcher are you?</h4></div>*@

						
						
					
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Name</label>
						<input type="text" placeholder="User Name" name="user_name" value="@Model.user_name" value="@Model.user_id">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Userame</label>
						<input type="text" placeholder="User Full Name" name="user_username" Value="@Model.user_username">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Email</label>
						<input type="email" placeholder="Email" name="user_email"Value="@Model.user_email">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Password</label>
						<input type="password" placeholder="Password" name="user_password"Value="@Model.user_password">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Phone Number</label>
						<input type="text" placeholder="Your Phone Number" name="user_phone" Value="@Model.user_phone">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Gender</label>
						<input type="text" placeholder="Gender" name="user_gender"Value=" @Model.user_gender">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Date Of Birth</label>
						<input type="text" placeholder="Date Of Birth" name="user_dob"Value=" @Model.user_dob">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>Country</label>
						<input type="text" placeholder="Country" name="user_country"Value=" @Model.user_country">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>City</label>
						<input type="text" placeholder="City" name="user_city" Value="@Model.user_city">
					</div>
					<div style="width:100%; height:2px; background-color:#999; margin:20px 0px;"></div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>  Address</label>
						<input type="text" placeholder="Address" name="user_address" Value="@Model.user_address">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>  Marital Status</label>
						<input type="text" placeholder="Marital Status " name="user_marital_status" Value="@Model.user_marital_status">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>  Qualification</label>
						<input type="text" placeholder="Qualification" name="user_qualification" Value="@Model.user_qualification">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>  School</label>
						<input type="text" placeholder="School" name="user_school" Value="@Model.user_school">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>  College</label>
						<input type="text" placeholder="Collage" name="user_college" Value="@Model.user_college">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>  Work Status</label>
						<input type="text" placeholder="Work Status" name="user_work_status" Value="@Model.user_work_status">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<label>  Organization</label>
						<input type="text" placeholder="Organization" name="user_organization" Value="@Model.user_organization">
					</div>
					<div class="col-lg;-4 col-sm-4 col-md-4">
						<label>  Designation</label>
						<input type="text" placeholder="Designation" name="user_designation" Value="@Model.user_designation">
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
					  <br /><button class="main-btn" type="submit"><i class="icofont-key"></i> Update</button>
					
					</div>
					
				</div>
			</form>
			<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

		</div>
	</div>
	
